<!DOCTYPE html>
<html lang="en">

<header>
  <h1>Mi Formulario </h1>
</header>

<body>
  <section>
    <fieldset>
      <legend>Detalles de Contacto</legend>
      <form action="#">

        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" placeholder="Escribe tu nombre" pattern="[a-zA-Z\s]{5,}" autofocus required>
        <span class="invalid">*Este campo es requerido</span>

        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="Escribe tu correo electronico" required>
        <span class="invalid">*Este campo es requerido</span>

        <label for="telefono">Numero de telefono:</label>
        <input type="tel" name="telefono" placeholder="Escribe tu numero de telefono" required>
        <span class="invalid">*Este campo es requerido</span>

        <label for="pais">Pais:</label>
        <input name="pais" list="paises" placeholder="Escribe tu pais">
        <datalist id="paises">
          <option>Mexico</option>
          <option>Costa Rica</option>
          <option>Colombia</option>
          <option>España</option>
          <option>Otro</option>
        </datalist>

        <label for="edad">Edad:</label>
        <input type="number" name="edad" min="18" max="65">

        <label for="fechaN"> Fecha Nacimiento</label>
        <input type="date" name="fechaN" min="1900-01-01" max="3000-12-31">

        <div>
          <input type="submit" value="Enviar" id="Enviar">
        </div>

      </form>
    </fieldset>
  </section>
</body>
</html>
